@font-face {
    font-family: 'ubuntu-bold';
    src: url('fonts/Ubuntu-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/Ubuntu-Regular');
    font-weight: normal;
}
body {
  background-image: url(images/new.png);
  background-color: black;
  background-attachment: fixed;
}
p {
  color: white;
  padding: 0px 10% 0px 5px;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: #b3b3b3;
  text-decoration: none;
}
a:hover {
  color: #87CEFA;
}
p.sans-serif-main {
  font-family: sans-serif;
}
h3.header {
  color: white;
}
h4 {
  color: white;
}
h4.sans-serif-main {
  font-family: sans-serif;
}
.footer {
  position: fixed;
  text-align: left;
  bottom: 0px;
  width: 100%;
  font-family: sans-serif;
  color: white;
  font-size: 13px;
}
code {
  background-color: #BDBDBD;
  font-size: 16px;
  color: black;
}
table, th, td, tr {
  color: white;
  background-color: inherit;
  font-family: sans-serif;
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
}
table {
  margin: 0px 10% 0px 5px;
}
