@font-face {
    font-family: 'ubuntu-bold';
    src: url('fonts/Ubuntu-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'ubuntu';
    src: url('fonts/Ubuntu-Regular');
    font-weight: normal;
}
body {
  background-image: url(images/new.png);
  background-color: black;
}
p {
  color: white;
  padding: 0px 10% 0px 5px;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: #b3b3b3;
  text-decoration: none;
}
a:hover {
  color: #87CEFA;
}
p.sans-serif-main {
  font-family: sans-serif;
}
h3 {
  color: white;
}
h4 {
  color: white;
  font-family: sans-serif;
}
.footer {
  position: fixed;
  text-align: left;
  bottom: 0px;
  width: 100%;
  font-family: sans-serif;
  color: white;
  font-size: 13px;
}
